<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="StyleSheet" />
</head>

<body>
    <div class="container">
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>